BasedOnStyle: Microsoft
Language: Cpp
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true 
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 0
AccessModifierOffset: -4
IndentAccessModifiers: false
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
IndentWidth: 4
UseTab: Always
PointerAlignment: Left
SpaceBeforeParens: Never
SortIncludes: true
